/*
Theme Name: Divi Child 02
Theme URI: http://www.elegantthemes.com/gallery/divi/
Template: Divi
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
Description: Smart. Flexible. Beautiful. Divi is the most powerful theme in our collection.
Tags: responsive-layout,one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar,custom-background,custom-colors,featured-images,full-width-template,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready
Version: 3.0.42.1505275201
Updated: 2017-09-13 12:00:01

*/
/*Roma CSS 170915*/

/*tab*/
/*Vertical Tabs*/
.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.service-img img{
  height: 150px;
}
.tabs {
  width: 650px;
  float: none;
  list-style: none;
  position: relative;
  padding: 0;

}
ul.tabs{
  padding: 0px !important;
}
.tabs li{
  width: 180px; /*subele los Pixeles Si el texto es mas largo*/
  list-style: none;
}
.tabs label {
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    /*top: 3px;*/
    /*Animación*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: rgba(255,255,255,0.5);
  top: 0;
}


[id^=tab]:checked + label {
  background: #D8CBBA;
  color: white;
  top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.btn-sidebar{
  width: 100%;
  font-size: 18px !important;
}
.service-four .service-img img{
  height: 150px !important;
}
.et_pb_button_module_wrapper{
  margin-bottom: 0!important;
  margin-top: -1px;
}
footer{
  position: relative;
}
#main-footer{
  position: relative;
}
#main-footer::after{
  content:'';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  background-image: url('http://203.75.56.18/wp-content/uploads/2017/09/bamboo-1.png');
  background-repeat: no-repeat;
  width: 200px;
  height: 107%;
  z-index: 0;

}
#main-footer::before{
  content:'';
  position: absolute;
  right: 20px;
  bottom: 0;
  display: block;
  background-image: url('http://203.75.56.18/wp-content/uploads/2017/09/bamboo-2.png');
  background-repeat: no-repeat;
  width: 224px;
  height: 92%;

}
#footer-widgets{
  position: inherit;
  z-index: 20;
  height: 415px;
}
.footer-widget{
  color: #666 !important;
}
#footer-info{
  color: #000;
  position: inherit;
  z-index: 20;
  font-size: 14px !important;
}

@media screen and (max-width: 1023px) {
  #main-footer::before{
    content:'';
    display: none;
  }
  #main-footer::after{
    content:'';
    display: none;

  }


}
input[type=text], input[type=password], input[type=tel], input[type=email], input.text{
height: 35px !important;
width: 48%;
padding: 0px 10px;
}
form p{
  padding-bottom: 1.2em;

}

#text-5{
  width: 100%;
  position: relative;
}

form{
  position: relative;
}
form > p:nth-child(6){
  height: 0px;

}
textarea{
  width: 50%;
  position: relative;
  left: 50%;
  top:-207px;
  padding: 10px 10px;
  height: 190px;

}
.form-submit input{
  width: 100px;
  background-color: grey;
  border: none;
  height: 35px;
  color:#fff;
  position: relative;
  left: 20px;
  /*margin-bottom: 50px;*/
  top:-20px;
}

#text-3 .textwidget{
  width: 125%;
  display: inherit;
}
#text-4{
  margin-left: 18px;
}
/*footer-links*/
.footer-link-item a{
  color: #666 !important;
  font-size: 16px !important;
}
.footer-link-item {
  color: #666 !important;
  font-size: 16px !important;
  padding-bottom: 20px;
}
.link-toggle{
  display: none;
}

@media screen and (max-width: 768px) {
  input[type=text], input[type=password], input[type=tel], input[type=email], input.text{
    width: 100%;
  }
  textarea{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding: 10px 10px;

  }
  form > p:nth-child(6){
    height: 100%;

  }
  .form-submit input{
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {



}
.main-online{
  height: 420px;
}

.main-online img{
  padding: 10px 0px 20px;
}
.main-online h2{
  padding: 20px 0px;
}
/*fix wp problem for adv page*/
@media screen and (min-width: 768px) {
  .fb-adv{
    width: 200%;
  }
  .google-img {
    width: 130%;
    margin-left: -15%;
  }
  .line-txt{
    width: 65%;
  }
  .baha-img{
    width: 130%;
    margin-left: -15%;
  }
  #txt-spn{
    width: 120%;
  }


}
.switcher{
  margin-left: 15px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .sponsor-logo img{
    width: 80%;
    margin-left: 10%;
  }
  #footer-info{
    margin-top: 200px;
  }
  h4{
    font-size: 15px !important;
  }
}
/*layout for sidebar*/
.et_pb_column_1_4.et_pb_column_0.et_pb_column_single
{
  /*background: url(http://203.75.56.18/wp-content/uploads/2017/09/bamboo-right.png);*/
  background: url(http://203.75.56.18/wp-content/uploads/2017/09/bamboo-1.png);
  background-position: 186% 24%;
  background-size: 78%;
  padding: 10px;

  /*background-repeat: no-repeat;*/
}
@media screen and (min-width: 768px) {
  .et_pb_column_1_4.et_pb_column_0.et_pb_column_single.fix{
    position: fixed;
    /*left: 0;*/
    width: 230px;
    top: 100px;
    /*z-index: 30;*/
    /*top: 100px;*/

  }
  .et_pb_column_3_4.et_pb_column_1.fix{
  position: relative;
  left: 280px;
  }
  .idc-txt{
    width: 50%;
    margin-left: 25%;
  }

}


.case-one-img img{
  height: 300px;
}
.sponsor-logo .fa{
  color:#b96910;
  /*margin-left: 30px;*/
  margin-right: 10px;

}
.sponsor-logo img{

}
.mouth-txt-table table{
  margin-top: 20px;
  border: none;
}
.mouth-txt-table td{
  border: none;
  border-top: 0px !important;
  font-size: 14px;
}
.mouth-txt-table td img{
  text-align: left;
  width: 60px;
}
.mouth-txt-table tr{
  border: none;
  border-top: 0px !important;
}
.mouth-four-img-sec img{
  height: 150px;
  margin-bottom: 30px;
}
.ffs-icon-container{
  display: none !important;
}
#main-error{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(http://203.75.56.18/wp-content/uploads/2017/09/404-1920x381.jpg);
  height: 42vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
#main-error #main-content{
  background-color: rgba(0,0,0,0);
  width: 400px;

}
#main-error #content-area{
  display: flex;
  align-items: center;
  justify-content: center;
}
.et_right_sidebar #main-content .container:before{
  display: none;
}
#main-error h3{
  font-size: 28px;
  color: #666 !important;

}
#main-error a{
  font-size: 20px;
  color: #b96910 !important;

}
#error-txt{
  text-align: center;
  font-size: 32px;
}
#post-0{
  display: none;
}

/*accordion footer*/

.resp-tabs-container{
  background-color: rgba(0,0,0,0)!important;
  font-size: 16!important;
}
.resp-accordion{
  width: 200px;
}
h2.resp-accordion:first-child{
  border-top: 1px solid rgba(0,0,0,0)!important;
}
h2.resp-accordion{
  font-size: 16px !important;
  border: 0px !important;
  padding-bottom: 35px !important;
}
.resp-arrow{
  margin-left:  20px;
}
.resp-easy-accordion .resp-tab-content{
  border: 0px !important;

}
.resp-tab-active{
  background-color: none repeat scroll 0 0 rgba(0,0,0,0) !important;
}
.resp-easy-accordion .resp-tab-contentP{

border:none;
}
.resp-accordion{
  color: #666;
}
.resp-tab-content li a{
  color:#666!important;
}
.resp-easy-accordion .resp-tab-content:last-child{
  border-bottom: 0px!important;
}

div#ffs-tabbed-1#ffs-tabbed-1.ffs-tabbed-nav h2.resp-accordion.resp-tab-active{

    background-color: none !important;
}
@media screen and (max-width: 768px) {

}
